<h1>Trip</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Journey Time</th>
        <th scope="col">Fare</th>
        <th scope="col">Agency</th>
        <th scope="col">Source Stop</th>
        <th scope="col">Destination Stop</th>
        <th scope="col">Bus</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let trip of tripList">
        <th scope="row">{{trip.journeyTime}} Min.</th>
        <td>Rp. {{trip.fare}}</td>
        <td>{{trip.agency}}</td>
        <td>{{trip.sourcestop}}</td>
        <td>{{trip.deststop}}</td>
        <td>{{trip.bus}}</td>

      </tr>
    </tbody>
  </table>
