<div class="container" *ngIf="isLoggedIn" >

  <header class="jumbotron">
    <h3>
      <strong>{{ profile.email }}</strong> Profile
    </h3>
  </header>
  <!-- <p>
    <strong>Token:</strong>
    {{ currentUser.accessToken.substring(0, 20) }} ...
    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
  </p> -->
  <p >
    <strong>Email:</strong>
    <span style="padding-left:110px;">
    {{ profile.email }} 
  </span>
  </p>
  <p>
    <strong>First Name:</strong>
    <span style="padding-left:69px;">
    {{ profile.firstname }}
    </span>
  </p>
  <p>
    <strong>Last Name:</strong>
    <span style="padding-left:69px;">
    {{ profile.lastname }} 
    </span>
  </p>
  <p>
    <strong>Mobile Number:</strong>
    <span style="padding-left:29px;">
    {{ profile.mobilenumber }} 
    </span>
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
  <a
    [routerLink]="['/editprofile', profile.id]"
    class="btn btn-sm btn-primary me-1"
  >Update Profile</a>
</div>


<ng-template #loggedOut>
  Please login.
</ng-template>