<h1>Register Agency</h1>
<div class="col-md-12" *ngIf="isLoggedIn">
  <div class="card card-container" *ngIf="showAddAgency">
    
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="code">Code</label>
        <input
          type="text"
          class="form-control"
          name="code"
          [(ngModel)]="form.code"
          minlength="3"
          required
          code
          #code="ngModel"
        />
        <div class="alert-danger" *ngIf="code.errors && f.submitted">
          <div *ngIf="code.errors.requirsed">code is required</div>
          <div *ngIf="code.errors.code">
            code must be a valid code address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="details">Details</label>
        <input
          type="text"
          class="form-control"
          name="details"
          [(ngModel)]="form.details"
          required
          minlength="6"
          #details="ngModel"
        />
        <div class="alert-danger" *ngIf="details.errors && f.submitted">
          <div *ngIf="details.errors.required">details is required</div>
          <div *ngIf="details.errors.minlength">
            details must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          minlength="1"
          #name="ngModel"
        />
        <div class="alert-danger" *ngIf="name.errors && f.submitted">
          <div *ngIf="name.errors.required">name is required</div>
          <div *ngIf="name.errors.minlength">
            name must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Owner</label>
        <select  name="owner" class="form-control" [(ngModel)]="form.owner"  >
          <option [value]="user.id" *ngFor="let user of userList" >
              {{user.firstname}} {{user.lastname}}
          </option>
      </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Register Agency</button>
      
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>